body{
    font-family: system-ui, sans-serif;
    background: linear-gradient(to right, #f5f7fa, #c3cfe2);
    margin: 0;
}

.container{
    background: white;
    border: 2px solid #eee;
    border-radius: 12px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0,0.8) ;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
}
header{
    display: flex;
    border-bottom: 1px solid #757575;
    margin: 10px;
}
.images{
    width: 100px;
    height: 100px;
    border: 2px solid blue;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
span{
    font-size: 16px;
    color: #b8b8b8;
}
.jop{
    color: blue;
    font-size: 1rem;
}