* {
    gap: 10px;
}
body{
    font-family: system-ui, sans-serif;
    background: linear-gradient(to right, #f5f7fa, #c3cfe2);
    margin: 0;
}

.container{
    background: white;
    border: 2px solid #eee;
    border-radius: 12px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0,0.8) ;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
}
header{
    display: flex;
    border-bottom: 1px solid #757575;
    margin: 10px;
    
}
.images{
    width: 100px;
    height: 100px;
    border: 2px solid blue;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
span{
    font-size: 16px;
    color: #b8b8b8;
}
.jop{
    color: blue;
    font-size: 1rem;
}
main{    
    margin: 10px;    
    padding: 10px;
}
section h2{
    border-left: 12px solid purple;    
}
.card{    
    border: 1px solid #b8b8b8;
    border-radius: 12px;
    margin: 10px;
    padding: 10px;
    background: #eef1f6bd;
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0,0.1);
}
.card__title{
    font-weight: bold;
    text-indent: 2em;    
}
.v{
    color:rgba(89, 91, 90, 0.764);
    text-align: right;
}
.pro{
    display: flex ;
}
footer{
    border-top: 1px solid #757575;
    padding: 10px;
    margin: 10px;
}
a{
    color: #90d6adbd;
    text-decoration: none;
}