body{
    display: grid;
    place-items: center;
    height: 80vh;
    background: linear-gradient(to right, #f5f7fa, #c3cfe2);
}
.container{
    width: 450px;
    
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 24px;
    background: white;
}
tr{
    border: 1px solid black;
}
h1{
    text-align: center;
    font-family: ;
}
.title #startBtn{
    margin-bottom: 8px;
}